@{
    Layout = "_LayoutHome";
}



<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Thêm sự kiện</h3>
                  
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-12 blog-details">

                                <div class="form-group">
                                    <label>Tiêu đề</label>
                                    <input class="form-control" id="title" type="text">
                                </div>
                              
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Ảnh</label>
                                            <div>
                                                <input class="form-control" id="image" type="text">
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Địa điểm</label>
                                            <input class="form-control" id="location" type="text">
                                        </div>
                                    </div>
                                   @*  <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Tags</label>
                                            <select class="select select2-hidden-accessible form-control"
                                                    tabindex="-1" aria-hidden="true">
                                                <option>Công việc</option>
                                                <option>Gia đình</option>
                                                <option>Du lịch</option>
                                                <option>Party</option>
                                                <option>Bạn bè</option>
                                            </select>
                                        </div>
                                    </div> *@
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Ngày bắt đầu</label>
                                            <input class="form-control" id="startdate" type="date" onfocus="this.min = new Date().toISOString().split('T')[0]">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Ngày kết thúc</label>
                                            <input class="form-control" id="enddate" type="date" onfocus="this.min = new Date().toISOString().split('T')[0]">

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Mô tả</label>
                                    <textarea cols="30" rows="6" id="description"  class="form-control"></textarea>
                                </div>

                                <div class="m-t-20 text-center">
                                    <button class="btn btn-primary btn-lg" onclick="saveEvent()">Thêm mới</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <div class="col-sm-4">
                <button type="button" class="btn btn-primary mb-3" onclick="openAddScheduleModal()">
                    <i class="fa-solid fa-plus-circle"></i> Lịch trình
                </button>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md">
                                <div id="scheduleList" class="list-group">
                                   
                                   


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>


    <div class="modal fade " id="addScheduleModal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm lịch trình mới</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="scheduleTitle">Tiêu đề</label>
                        <input type="text" class="form-control" id="scheduleTitle">
                    </div>
                    <div class="form-group">
                        <label for="scheduleLocation">Địa điểm</label>
                        <input type="text" class="form-control" id="scheduleLocation">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="scheduleStartDate">Bắt đầu</label>
                                <input type="datetime-local" class="form-control" id="scheduleStartDate">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="scheduleEndDate">Kết thúc</label>
                                <input type="datetime-local" class="form-control" id="scheduleEndDate">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Mô tả</label>
                        <textarea id="descriptionSchedule" cols="30" rows="6" class="form-control"></textarea>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-lg" onclick="addSchedule()">Thêm lịch trình</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function loadSchedule(){
        listschedule.sort(function (a, b) {
            return new Date(a.StartTime) - new Date(b.StartTime);
        });
        var scheduleList = $('#scheduleList');
        scheduleList.empty();
        listschedule.forEach(function (schedule, index) {
            var scheduleItem = `
                <div class="list-group-item mt-3">
                    <h5 class="mb-1">${schedule.Title}</h5>
                    <p class="mb-1"><strong>Địa điểm:</strong> ${schedule.Location}</p>
                    <p class="mb-1"><strong>Bắt đầu:</strong> ${schedule.StartTime.toLocaleString()}</p>
                    <p class="mb-1"><strong>Kết thúc:</strong> ${schedule.EndTime.toLocaleString()}</p>
                    <p class="mb-1"><strong>Mô tả:</strong> ${schedule.Description}</p>
                </div>
            `;
            scheduleList.append(scheduleItem);
        });
    }
    function openAddScheduleModal() {
     
        debugger
        $('#addScheduleModal').modal('show');
        var title = $('#scheduleTitle').val("");
        var location = $('#scheduleLocation').val("");
        var startDate = $('#scheduleStartDate').val("");
        var endDate = $('#scheduleEndDate').val("");
        var description = $('#descriptionSchedule').val("");
    }
    var listschedule = [];

    function addSchedule() {


        var EventstartDate = $('#startdate').val();
        var EventendDate = $('#enddate').val();
        debugger
        var title = $('#scheduleTitle').val();
        var location = $('#scheduleLocation').val();
        var startDate = $('#scheduleStartDate').val();
        var endDate = $('#scheduleEndDate').val();
        var description = $('#descriptionSchedule').val();

        var newStartTime = new Date(startDate);
        var newEndTime = new Date(endDate);

        var EventstartDate = new Date($('#startdate').val());
        var EventendDate = new Date($('#enddate').val());
   
        debugger
        if (newStartTime < EventstartDate || newStartTime > EventendDate || newEndTime < EventstartDate || newEndTime > EventendDate) {
            alert('Ngày bắt đầu và kết thúc phải nằm trong khoảng thời gian sự kiện');
            return;
        } 

        if (newEndTime <= newStartTime) {
            alert('Thời gian kết thúc phải lớn hơn thời gian bắt đầu.');
            return;
        }
        var newSchedule = {
            Title: title,
            Location: location,
            StartTime: newStartTime,
            EndTime: newEndTime,
            Description: description
        };


            listschedule.push(newSchedule);
            alert('Thành công.');
            $('#addScheduleModal').modal('hide');

        var isOverlap = listschedule.some(function (schedule) {
            return (
                (newStartTime >= schedule.StartTime && newStartTime < schedule.EndTime) ||
                (newEndTime > schedule.StartTime && newEndTime <= schedule.EndTime) ||
                (newStartTime <= schedule.StartTime && newEndTime >= schedule.EndTime)
            );
        });
        if (isOverlap) {
            alert('Thời gian bắt đầu hoặc kết thúc trùng với lịch trình đã có.');
            
        } else {
            listschedule.push(newSchedule);
            alert('Thành công.');
            $('#addScheduleModal').modal('hide');
           
        }
        loadSchedule();
    }

    
</script>
<script>

    function saveEvent(){
        debugger
        var token = localStorage.getItem('jwt');
        var user = localStorage.getItem('username');

        var title = $('#title').val();
        var image = $('#image').val();
        var location = $('#location').val();
        var startDate = $('#startdate').val();
        var endDate = $('#enddate').val();
        var description = $('#description').val();

        var formData = new FormData();
     
        formData.append('image', image);
        formData.append('title', title);
        formData.append('location', location);
        formData.append('startDate', startDate);
        formData.append('endDate', endDate);
        formData.append('description', description);
        formData.append('username', user);
        formData.append('schedule', JSON.stringify(listschedule));

        var newStartTime = new Date(startDate);
        var newEndTime = new Date(endDate);
        if (newEndTime <= newStartTime) {
            alert('Thời gian kết thúc phải lớn hơn thời gian bắt đầu.');
            return;
        }
      
        $.ajax({
            url: 'http://localhost:5100/api/Event', 
            type: 'POST',
            headers: {
                'Authorization': 'Bearer ' + token
            },
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                alert(response.message);
                window.location.href = "/home";
            },
            error: function (error) {
                alert('Lỗi trong quá trình thêm sự kiện');
            }
        });

    }
</script>

