@{
    Layout = "_LayoutHome";
}

<style>
    a {
        cursor: pointer;
    }
</style>

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Sự kiện kết thúc </h3>

                </div>
            </div>
        </div>
        <div class="mb-3">
            <div style="margin-top: 10px;
    position: relative;
    width: 230px;">
                <input type="text" style="border-radius:5px" class="form-control" placeholder="Search here">
                <button class="btn" type="submit"
                        style="background-color: transparent;
    border-color: transparent;
    color: #333;
    min-height: 40px;
    padding: 7px 15px;
    position: absolute;
    right: 0;
    top: 0;">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">

                        <div class="row" id="listEvent">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/jquery-3.6.0.min.js"></script>
<script src="~/assets/js/bootstrap.bundle.min.js"></script>
<script src="/js/home.js"></script>


<script>
    $(document).ready(function () {
        loadData();

    });

    function loadData() {
        var token = localStorage.getItem('jwt');
        var user = localStorage.getItem('username');
        console.log(token)
        console.log(user)
        $.ajax({
            url: 'http://localhost:5100/api/Event/getEndEvent',
            method: 'GET',
            data: { username: user },
            headers: {
                'Authorization': 'Bearer ' + token
            },
            success: function (response) {
                debugger
                var list = $('#listEvent');
                list.empty();

                if (response.length < 1) {
                    var html = `<h4 class = "text-center">Không có sự kiên nào </h4>`;
                    list.append(html);
                } else {
                    response.forEach(function (event) {
                        var now = new Date();
                        var startTime = new Date(event.startTime);
                        var endTime = new Date(event.endTime);
                        var statusHtml = '';
                        if (now < startTime) {
                            statusHtml = '<div class="mb-2" style="color: gray"><i class="fa-solid fa-circle" style="color: gray"></i> Sắp diễn ra</div>';
                        }
                        if (now >= startTime && now <= endTime) {
                            statusHtml = '<div class="mb-2" style="color: green"><i class="fa-solid fa-circle" style="color: green"></i> Đang diễn ra</div>';
                        }
                        var html = `
                            <div class="col-12 col-md-4 col-xl-4">
                                <div class="course-box blog grid-blog">
                                    <div class="blog-image mb-0">
                                        <a href="/home/DetailEvent/${event.eventId}"><img class="img-fluid" src="${event.image}" alt="Post Image"></a>
                                    </div>
                                    <div class="course-content">
                                     <div class = "d-block">
                                      <span class="date"> <i class="fa-solid fa-clock"></i> <strong> Thời gian bắt đầu : ${event.startTime}</strong> </span>
                                       <span class="date"> <i class="fa-solid fa-location-dot"></i> <strong>Địa điểm : ${event.location}</strong></span>

                                       </div>
                                        <a  href="/home/DetailEvent/${event.eventId}"> <span class="course-title">${event.title}</span></a>
                                        ${statusHtml}
                                        <div class="row">
                                           
                                            <div class="col text-end">
                                                <a class="text-danger btn-delete"  data-id="${event.eventId}">
                                                    <i class="far fa-trash-alt"></i> Xoá
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;
                        list.append(html);
                    });
                }
            },
            error: function (xhr, status, error) {
                debugger
                window.location.href = '/login';
                var response = JSON.parse(xhr.responseText);
            }
        });
    }
</script>
