@{
    Layout = "_LayoutHome";
}

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Sự kiện </h3>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">

                        <div class="row" id="listEvent">


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/jquery-3.6.0.min.js" ></script>
<script src="~/assets/js/bootstrap.bundle.min.js"></script>
<script src="/js/home.js"></script>
